<h2>home</h2>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input
          label="Enter name1"
          aria-label="label"
          placeholder="name"
          [(ngModel)]="newUserName"
        ></ion-input>
        <ion-button
          slot="end"
          (click)="createUser()"
          fill="clear"
          color="primary"
        >
          Add
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item *ngFor="let user of users()">
    <ion-checkbox
      aria-label="Label"
      slot="start"
      [(ngModel)]="user.active"
      (ionChange)="updateUser(user)"
    ></ion-checkbox>
    <ion-label>{{ user.name }}</ion-label>
    <ion-button
      slot="end"
      (click)="deleteUser(user)"
      fill="clear"
      color="danger"
    >
      Delete
    </ion-button>
  </ion-item>
</ion-content>

